.App {
  font-family: sans-serif;
  text-align: center;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.yellow {
  background-color: #eab308;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.blue {
  background-color: #1d4ed8;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.grey {
  background-color: #323f4b;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
